<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>FreeFood: Welcome</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="css/custom.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<script src="js/sockjs-0.3.4.js"></script>
<script src="js/stomp.js"></script>
<style>
#map {
	width: 100%;
	height: 100%;
}
</style>
</head>
<body>
	<div th:replace="fragments/header"></div>
	
	<div class="container">
		<br />
		<div class="jumbotron">
			<div id="map">
				<i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>

	<script src="js/jquery-1.12.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByK8yuemeyVGlRA88G9ViznA_cJIZojtc&amp;libraries=places&amp;callback=initMap"
		async="async" defer="defer"></script>
</body>
</html>